<form>
  <header class="header-block">
    <div class="header-block__background header-block_cover">
      <img *ngIf="coverImage; else noCover" class="about__dp_img" [src]="coverImage?.imgURL" alt="LOGO">

      <ng-template #noCover>
        <div class="no-image">16:9</div>
      </ng-template>

      <ion-button (click)="uploadCoverImageInRef.click()" class="header-block__upload-btn">UPLOAD</ion-button>

      <input class="ion-hide" #uploadCoverImageInRef type="file" (change)="loadCoverImageFromDevice($event)"
             accept="image/png, image/jpeg" multiple>
    </div>
  </header>

  <section class="about maker-container">
    <div class="about__header">
      <div class="about__dp logo-block">
        <img *ngIf="logoImage; else noLogo" class="about__dp_img" [src]="logoImage?.imgURL" alt="LOGO">

        <ng-template #noLogo>
          <div class="no-image">1:1</div>
        </ng-template>
      </div>

      <ion-button (click)="uploadLogoInRef.click()">UPLOAD</ion-button>
      <input class="ion-hide" #uploadLogoInRef type="file" (change)="loadImageFromDevice($event)"
             accept="image/png, image/jpeg" multiple>
    </div>
  </section>

  <section>
    <mat-form-field class="form-field" appearance="standard">
      <mat-label>DISPLAY NAME</mat-label>
      <input matInput type="email" placeholder="nom@exemple.fr">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="standard">
      <mat-label>HEAD LINE</mat-label>
      <input matInput type="email" placeholder="nom@exemple.fr">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="standard">
      <mat-label>DESCRIPTION</mat-label>
      <textarea matInput type="text" placeholder="Enter the message" required rows="4"></textarea>
      <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </section>
</form>
