.header-block {
  &_cover {
    position: relative;
    background: unset !important;
    margin-bottom: 8px;

    > img {
      height: 144px;
      width: 100%;
    }
  }

  &__upload-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    margin: 0;
    z-index: 10;

    > button {
      border-radius: 0 !important;
    }
  }
}

.logo-block {
  width: 80px;
  height: 80px;
  position: relative;
}

.no-image {
  background: rgb(242 242 242);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: rgb(187 187 187);
  letter-spacing: .8px;
}

.maker-container {
  padding: 0;
}
