<form>
  <mat-form-field class="form-field" appearance="standard">
    <mat-label>PHONE NO</mat-label>
    <input matInput type="email" placeholder="nom@exemple.fr">
  </mat-form-field>

  <mat-form-field class="form-field" appearance="standard">
    <mat-label>WHATSAPP NO</mat-label>
    <input matInput type="email" placeholder="nom@exemple.fr">
  </mat-form-field>

  <mat-form-field class="form-field" appearance="standard">
    <mat-label>E-MAIL</mat-label>
    <input matInput type="email" placeholder="nom@exemple.fr">
  </mat-form-field>

  <mat-form-field class="form-field" appearance="standard">
    <mat-label>ADDRESS</mat-label>
    <input matInput type="email" placeholder="nom@exemple.fr">
  </mat-form-field>

  <mat-form-field class="form-field" appearance="standard">
    <mat-label>WEBSITE</mat-label>
    <input matInput type="email" placeholder="nom@exemple.fr">
  </mat-form-field>
</form>
