<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>STUDIO</ion-title>
    <ion-buttons slot="end">
      <ion-icon src="assets/icon/visibility-24px.svg" class="icon-size mr-4"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-app">
    <div class="container maker-container">

      <mat-horizontal-stepper>
        <mat-step>
          <app-bussiness-info-form></app-bussiness-info-form>

          <div fxLayout="row-reverse">
            <button mat-button matStepperNext>NEXT</button>
          </div>
        </mat-step>

        <mat-step>
          <app-contact-form></app-contact-form>

          <div fxLayout="row-reverse">
            <button fxFlexOrder="1" mat-button matStepperPrevious>BACK</button>
            <button fxFlexOrder="0" mat-button matStepperNext>NEXT</button>
          </div>
        </mat-step>

        <mat-step>
          <app-galleries-form></app-galleries-form>

          <div fxLayout="row-reverse">
            <button fxFlexOrder="1" mat-button matStepperPrevious>BACK</button>
            <button fxFlexOrder="0" mat-button matStepperNext>NEXT</button>
          </div>
        </mat-step>

        <mat-step>
          <app-others-form></app-others-form>

          <div fxLayout="row-reverse">
            <button fxFlexOrder="1" mat-button matStepperPrevious>BACK</button>
            <button fxFlexOrder="0" mat-button matStepperNext>NEXT</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</ion-content>
